@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #FAFBFD;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 114px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 12;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 12;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 252px;
          flex: 0 1 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.button {
  border-radius: 5px;
  background-color: #EC5863;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px 15px 30px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  text-transform: uppercase;
  text-align: center;
}

.button_blue {
  background-color: #4285F4;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.button__link {
  color: #fcfdfe;
  font-family: Raleway;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.menu__icon {
  margin-left: 10px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu-open .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
  margin-right: 2.5rem;
}

.menu__link {
  color: #000;
  font-family: Raleway;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.4px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.health__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 0px 50px 0px;
  position: relative;
}

.health__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  right: 252px;
  top: 0;
  height: 100%;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
}

.health__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0px 0px 0px 13px;
}

.health__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  padding-right: 9px;
  position: relative;
  z-index: 2;
}

.health__image img {
  max-width: 100%;
}

.health__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 60px 0px 0px 13px;
}

.content-health__title {
  color: #000;
  font-family: "Rubik";
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.content-health__title span {
  color: #4285F4;
}

.content-health__text {
  color: #616161;
  font-family: Rubik;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4166666667;
  letter-spacing: 0.96px;
  margin-bottom: 1.5rem;
}

.block-video__title {
  color: #b0b0b0;
  font-family: Rubik;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.2307692308;
  letter-spacing: 1.04px;
  margin-bottom: 5px;
}

.block-video__text {
  color: #000;
  font-family: Rubik;
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 1.2222222222;
  letter-spacing: 1.485px;
  text-transform: uppercase;
}

.stay-safe {
  padding: 80px 0px;
  background-color: #fff;
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stay-safe__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 0px 0px 47px;
}

.stay-safe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.stay-safe__title {
  color: #000;
  font-family: Rubik;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 12px;
}

.stay-safe__title span {
  color: #EC5863;
}

.stay-safe__text {
  color: #616161;
  font-family: Rubik;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4166666667;
  letter-spacing: 0.96px;
  margin-bottom: 24px;
}

.media-stay-safe {
  width: 373px;
  text-align: center;
  padding: 56px 0px 27px 0px;
  position: relative;
  z-index: 20;
}

.media-stay-safe__image {
  display: inline-block;
  border-radius: 16px;
  position: relative;
  z-index: 20;
}

.media-stay-safe__image img {
  position: relative;
  z-index: 50;
}

.media-stay-safe__image img {
  position: relative;
  z-index: 20;
}

.media-stay-safe__item {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
  z-index: 1;
}

.media-stay-safe__item_1 {
  width: 147px;
  height: 147px;
  top: 30px;
  left: 0;
  z-index: 1;
}

.media-stay-safe__item_2 {
  width: 77px;
  height: 77px;
  bottom: 35px;
  left: 33px;
}

.media-stay-safe__item_3 {
  bottom: 142px;
  right: 34px;
  width: 77px;
  height: 77px;
}

.expert {
  background-color: #fafbfd;
  padding-bottom: 116px;
}

.expert__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.expert__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expert__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
}

.expert__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 35px;
}

.expert__title {
  color: #000;
  font-family: Rubik;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.expert__title span {
  color: #587eec;
}

.expert__text {
  color: #616161;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4166666667;
  letter-spacing: 0.96px;
  margin-bottom: 1.5rem;
}

.expert__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.count-block {
  padding-bottom: 59px;
}

.count-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 79px 0px 59px 0px;
  position: relative;
}

.count-block__row {
  max-width: 654px;
  border-radius: 16px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
  padding: 26px 80px;
  position: relative;
  z-index: 5;
}

.count-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.count-block__title {
  color: #ec5863;
  text-align: center;
  font-family: Rubik;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.04px;
}

.count-block__text {
  color: #000;
  text-align: center;
  font-family: Rubik;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.07px;
  text-transform: uppercase;
}

.count-block__decore {
  border-radius: 16px;
  background: #ec5863;
  position: absolute;
}

.count-block__decore_1 {
  width: 65.752px;
  height: 65.752px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: -20px;
  bottom: 40px;
}

.count-block__decore_2 {
  width: 96.956px;
  height: 96.956px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 40px;
  right: 48%;
  border-radius: 30px;
}

.count-block__decore_3 {
  width: 127.467px;
  height: 127.467px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 30px;
  top: 73px;
  right: -60px;
}

.video-block {
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-block__inner {
  width: 332px;
  padding: 24px 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.video-block__img {
  position: relative;
}

.video-block__img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Healthcare__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Healthcare__main {
  margin: 0 auto;
  margin-bottom: 46px;
}

.Healthcare__title {
  color: #000;
  font-family: Rubik;
  font-size: 44px;
  font-weight: 700;
  line-height: 126%;
  text-align: center;
}

.Healthcare__title span {
  color: #ec5863;
}

.Healthcare__text {
  color: #616161;
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 138.5%;
  /* 16.62px */
  letter-spacing: 0.96px;
}

.Healthcare__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
  position: relative;
}

.Healthcare__decore {
  background: #ec5863;
  position: absolute;
}

.Healthcare__decore_1 {
  width: 65.752px;
  height: 65.752px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
  bottom: -30px;
  left: -20px;
}

.Healthcare__decore_2 {
  width: 96.956px;
  height: 96.956px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  border-radius: 30px;
  top: 45px;
  left: 260px;
}

.Healthcare__decore_3 {
  width: 127.467px;
  height: 127.467px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 30px;
  bottom: -40px;
  left: 630px;
}

.Healthcare__decore_4 {
  width: 65.752px;
  height: 65.752px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
  top: -35px;
  right: -20px;
}

.Healthcare__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
  position: relative;
  z-index: 5;
}

.Healthcare__cart:not(:last-child) {
  margin-right: 72px;
}

.Healthcare__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
}

.item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 17px;
}

.item-cart__image {
  margin-bottom: 58px;
}

.item-cart__title {
  color: #000;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 138.5%;
  /* 22.16px */
  letter-spacing: 1.28px;
  margin-bottom: 4px;
}

.item-cart__text {
  color: #616161;
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.5%;
  /* 16.62px */
  letter-spacing: 0.96px;
}

@media (max-width: 67.625em) {
  .menu__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-right: 20px;
  }

  .health__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .health__container::before {
    right: 170px;
  }

  .health__content {
    max-width: 700px;
    margin-bottom: 70px;
  }

  .health__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .stay-safe__media {
    margin: 0 auto;
  }

  .stay-safe__content {
    margin: 0 auto;
    padding-left: 40px;
  }

  .expert__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    margin: 0px 50px;
  }

  .expert__content {
    padding-top: 100px;
    padding-left: 0px;
    padding-bottom: 70px;
  }

  .count-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .count-block__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .video-block__inner {
    padding-left: 0px;
  }

  .Healthcare__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin-left: 150px;
    margin-right: 150px;
    row-gap: 50px;
  }
}

@media (max-width: 61.99875em) and (max-width: 61.99875em) {
  .Healthcare__cart:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    display: block;
    padding-top: 120px;
  }

  .menu__list {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .menu__link {
    color: #000;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .health__container::before {
    display: none;
  }

  .health__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
  }

  .stay-safe__media {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .stay-safe__content {
    margin: 0 auto;
  }

  .media-stay-safe {
    max-width: 100%;
    height: 100%;
  }

  .expert__inner {
    margin: 0px 20px;
  }

  .expert__content {
    padding: 70px 20px;
  }

  .count-block__row {
    padding: 15px 15px;
  }

  .video-block__inner {
    display: block;
    padding: 0px 0px 0px 0px;
    position: relative;
    max-width: 100%;
  }

  .video-block__img {
    display: block;
    margin: 0px 30px;
    max-width: 100%;
  }

  .video-block__img-bg {
    max-width: 100%;
    padding: 0px 15px;
  }

  .Healthcare__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }

  .expert__inner {
    margin: 0px 5px;
  }

  .Healthcare__row {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #b63d45;
  }

  .button_blue:hover {
    background-color: #446baa;
  }

  .menu__link:hover {
    color: #EC5863;
  }
}